
   #img
   {
   	position:relative; 
   	background-image:url(../img/bg.jpg); 
   	height:30%; 
   	width:100%; 
   	color:white;
   	 text-align:center;
  background-position: center center;

   	}

   .dp
   {cursor: pointer;
   	background-image: url(../img/srinath1.JPG);
   	 position:absolute;
   	 top:20%; 
   	 left:44.5%; 
   	 border-radius:100%; 
   	 width:10.98%; 
   	 height:19.53%; 
   	 text-align: center; 
   	 background-size: 100%;
   	 background-position: center center;
   	 background-repeat: no-repeat;
       
   	} 
   	#dp1
   	{
      cursor:pointer;
   	background-image: url(../img/srinath2.jpg);
   	 position:absolute; 
   	 top:20%; 
   	 left:44.5%; 
   	 border-radius:100%; 
   	 width:10.98%; 
   	 height:19.53%; 
   	 text-align: center; 
   	 background-size: 100%;
   	 background-position: center center;
   	 background-repeat: no-repeat;
   	}
   	#dp2
   	{
cursor:pointer;
   	background-image: url(../img/srinath3.JPG);
   	 position:absolute; 
   	 top:20%; 
   	 left:44.5%; 
   	 border-radius:100%; 
   	 width:10.98%; 
   	 height:19.53%; 
   	 text-align: center; 

   	 background-size: 100%;
   	 background-position: center center;
   	 background-repeat: no-repeat;

   	}
      #view1 
      {
         display:none;
      }
      #view2
      {         display:none;
}
      #view3{         display:none;
}
      #view4{         display:none;
}
   #main
   {
      position:relative; 
       background-color:#000015; 
       text-align:center;
        color:white;
        font-family: Freestyle Script;
  font-size: 32px;   
          } 

         body
         {
        background-color: #000015;
         } 
.sidebar
{ margin-top: -170px;
   margin-left: 0;
   text-align: center;
   list-style: none;
   width:15%;
   height:20%;
   min-width: 150px;
}
.type
{
   background-color: #003333;
   cursor: pointer;
   border:1px solid #007777;
}
.type:hover
{
   background-color: #00CCCC;
   border:1px solid #003333;
}
.content
{
margin-top: 200px;
position: relative;

}
.type:active
{
   background-color: black;
}

.type2
{
  background-color:#FF0000;
  border:1px solid #003333;


}
#pls1
{
   text-decoration: none;
   color:white;
}
#pls2
{
   text-decoration: none;
   color: white;
}